/**
 * Global font settings
 */

body {
   font-family: $sans-serif;
   font-weight: 400;
   font-weight: normal;
   color: $body-font-color;
}

h1 {
   font-family: $serif;
   font-weight: normal;
   font-weight: 400;
   color: $header-font-color;
}

h2,
h3,
h4,
h5,
h6 {
   font-family: $sans-serif;
   font-weight: bold;
   font-weight: 700;
   color: $header-font-color;
}

h5,
h6 {
   text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   @extend .lh-title;
}

p,
td {
   @extend .lh-copy;
}
